<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dengue Prediction System </title>
    {% load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<link rel="stylesheet"  type="text/css" href="{%static 'css\main.css'%}"/>
</head>
<script src="home.js">
</script>

<body>
<div class="wrapper">
		<div class="top-bar fix">
			<div class="top-bar-links">
            <ul>
            	<li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                 <li><a href="{% url 'help' %}">Help</a></li>
            </ul>

			<div class="socialmedia">
        <ul>
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
        </ul>
        </div>


               </div>

		   </div>
         <header class="fix">
       <div class="image">

      <img src="../static/images/dengue_banner.jpg" />
       </div>



        </header>
    <nav>
           <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
           <li><a href="{% url 'disease' %}">Disease Description</a></li>
           <li><a href="{% url 'data' %}">Data</a></li>
        <li><a href="{% url 'maps' %}">Maps</a></li>
         <li><a href="{% url 'prediction' %}">Prediction </a></li>
        <li><a href="{% url 'feedback' %}">Feedback </a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
        </ul>
         </nav>
          <footer class="fix2">
 <div class="copyrights " >
        <div class="left">
        @ 2020 Copyright Dengue Prediction System.All Rights Reserved.
        </div>
        <div class="right ">
        Website by:Adhee
        </div>
        </div>
        </footer>
        </div>
</body>
</html>