<head>
<title>Dengue Prediction System </title>
{% load static%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}" />
    <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.mySlides2 {
display:none;

}

</style>
</head>

<body>
  <div class="wrapper">
      <div class="top-bar fix">
        <div class="top-bar-links">
          <ul>
            {%if user.is_authenticated %}
            <li>Hello,{{user.username}}</li>
            <li><a href="accouts/logout">Logout</a></li>
              {% else %}
              <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {%endif%}

               
          </ul>
    
<div class="socialmedia">
<ul>
<a href="https://www.facebook.com" class="fa fa-facebook"></a>
<a href="https://twitter.com" class="fa fa-twitter"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>
</ul>
      </div>



       </div>      

</div>
 <header class="fix">
<div class="image">
   
<img src="../static/images/dengue_banner.jpg" />
</div>



</header>
<a class="weatherwidget-io" href="https://forecast7.com/en/6d9379d86/colombo/" data-label_1="COLOMBO" data-label_2="WEATHER" data-theme="original" >COLOMBO WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
       <li><a href="{% url 'dd' %}">Disease Description</a></li>
       <li><a href="{% url 'data' %}">Data</a></li>
    <li><a href="{% url 'maps' %}">Maps</a></li>
     <li><a href="{% url 'prediction' %}">Prediction </a></li>
    <li><a href="{% url 'FeedbackView' %}">Feedback </a></li>
    <li><a href="{% url 'about' %}">About us</a></li>
    </ul>
 </nav>
<br>
    <br>
    <br>
<div class="new" style="max-width:1000px" style="max-height:600px" >
    <img class="mySlides2" src="../static/images/home%203.jpg" style="width:1000px" style="max-height:600px">
  <img class="mySlides2" src="../static/images/5.jpg" style="width:1000px" style="max-height:600px">
  <img class="mySlides2" src="../static/images/welcome.jpg" style="width:1000px" style="max-height:600px">
  <img class="mySlides2" src="../static/images/home%202.jpg" style="width:1000px" style="max-height:600px">

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides2");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000); // Change image every 3 seconds
}
</script>
    <div class="message">
        <h12><center>Message For Public</center></h12>
    </br>

        <p12><center><b>2576</b> suspected <b>dengue cases</b> were reported to the Epidemiology Unit from <b>Colombo District</b>.</center></p12>
    </div>
   <br>
    <br>


<div class="calendar">


<div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      April<br>
      <span style="font-size:18px">2020</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li></li>
  <li></li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li><span class="active">24</span></li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
</ul>
</div>
    <br>

<footer class="fix2">
 <div class="copyrights " >
        <div class="left">
        @ 2020 Copyright Dengue Prediction System.All Rights Reserved.
        </div>
        <div class="right ">
        Website by:Adhee
        </div>
        </div>
        </footer>
        </div>
</body>
</html>
