<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dengue Prediction System </title>
    {% load static%}
<link rel="stylesheet"  type="text/css" href="{%static 'css\main.css'%}"/>
<link rel="stylesheet"  type="text/css" href="{%static 'css\table.css'%}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>
<div class="wrapper">
		<div class="top-bar fix">
			<div class="top-bar-links">
                <ul>
                    {%if user.is_authenticated %}
                    <li>Hello,{{user.username}}</li>
                    <li><a href="accouts/logout">Logout</a></li>
                      {% else %}
                      <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                    {%endif%}

                       
                  </ul>
            
			<div class="socialmedia">
        <ul>
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
        </ul>
              </div>
       

       
               </div>      
			
		   </div>
         <header class="fix">
       <div class="image">
           
      <img src="../static/images/dengue_banner.jpg" />
       </div>



        </header>
<nav>
        <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                   <li><a href="{% url 'dd' %}">Disease Description</a></li>
                   <li><a href="{% url 'data' %}">Data</a></li>
                <li><a href="{% url 'maps' %}">Maps</a></li>
                 <li><a href="{% url 'prediction' %}">Prediction </a></li>
                <li><a href="{% url 'FeedbackView' %}">Feedback </a></li>
                <li><a href="{% url 'about' %}">About us</a></li>
                </ul>
         </nav>
         <br>
         <br>
         <br>
         <table>
             <thead>
               <tr>
                   <th>Name</th>
                   <th>Email</th>
                   <th>Description</th>
                   <th>Actions</th>
               </tr>
             </thead>
             {%for feedback in feedback %}
             <tr>
                
                 <td>{{feedback.name}}</td>
                 <td>{{feedback.email}}</td>
                 <td>{{feedback.description}}</td>
                 <td>
                     <a href="/editfeedback/{{feedback.id}}"><button class="edit">Edit</button></a>
                     <a href="/deleteFeedback/{{feedback.id}}"><button class="delete">Delete</button></a>
                 </td>
                 

             </tr>
              {%endfor%}
         </table>
         <footer class="fix2">
            <div class="copyrights " >
                   <div class="left">
                   @ 2020 Copyright Dengue Prediction System.All Rights Reserved.
                   </div>
                   <div class="right ">
                   Website by:Adhee
                   </div>
                   </div>
                   </footer>
                   </div>
           
           
           </body>
           </html>
           